<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>healthcentresadministration</servlet-name>
        <jsp-file>/healthcentresadministration.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>editUser</servlet-name>
        <jsp-file>/editUser.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>registeruser</servlet-name>
        <jsp-file>/registeruser.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>authentication-login</servlet-name>
        <jsp-file>/authentication-login.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <jsp-file>/logout.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>StartSession</servlet-name>
        <jsp-file>/StartSession.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>viewuser</servlet-name>
        <jsp-file>/viewuser.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>systemsadministration</servlet-name>
        <jsp-file>/systemsadministration.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>booking</servlet-name>
        <jsp-file>/booking.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>book</servlet-name>
        <jsp-file>/book.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>vaccineadministration</servlet-name>
        <jsp-file>/vaccineadministration.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>vaccineinventory</servlet-name>
        <jsp-file>/vaccineinventory.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>authentication-register</servlet-name>
        <jsp-file>/authentication-register.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>healthcentresadministration</servlet-name>
        <url-pattern>/healthcentres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>systemsadministration</servlet-name>
        <url-pattern>/systemsadministration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>booking</servlet-name>
        <url-pattern>/booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vaccineadministration</servlet-name>
        <url-pattern>/vaccineadministration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>book</servlet-name>
        <url-pattern>/book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vaccineinventory</servlet-name>
        <url-pattern>/vaccineinventory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>authentication-login</servlet-name>
        <url-pattern>/authentication-login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>authentication-register</servlet-name>
        <url-pattern>/authentication-register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewuser</servlet-name>
        <url-pattern>/viewuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartSession</servlet-name>
        <url-pattern>/StartSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registeruser</servlet-name>
        <url-pattern>/registeruser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editUser</servlet-name>
        <url-pattern>/updateUser</url-pattern>
    </servlet-mapping>
</web-app>
